body {
    overflow: hidden;
    background-size: cover;
}

@media (min-width: 962px) {
    body {
        display: flex;
        flex-direction: column;
        background-image: url("../assets/home/background-home-desktop.jpg");
    }
}

@media (min-width: 482px) and (max-width: 961px) {
    body {
        background-image: url("../assets/home/background-home-tablet.jpg");
    }
}

@media (max-width: 481px)  { 
    body {
        display: flex;
        flex-direction: column;
        background-image: url("../assets/home/background-home-mobile.jpg");
    }
}

main {
    width: 100%;
    height: 100%;
    display: flex;
}

@media (min-width: 962px) {
    main {
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        padding-bottom: 180px;
    }
}

@media (min-width: 482px) and (max-width: 961px) {
    main {
        margin-top: 10%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}

@media (max-width: 481px)  { 
    main {
        margin-top: 10%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}

.presentation-text {
    display: flex;
    flex-direction: column;
}

@media (min-width: 962px) {
    .presentation-text {
        width: 450px;
        margin-left: 10%;
        justify-content: center;
    }
}

@media (min-width: 482px) and (max-width: 961px) {
    .presentation-text {
        width: 450px;
        align-items: center;
        justify-content: space-between;
    }
}

@media (max-width: 481px)  { 
    .presentation-text {
        width: 90%;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5%;
    }
}

@media (max-width: 961px)  { 
    .presentation-text {
        text-align: center;
    }
}

.article-space {
    margin-top: 20px;
    margin-bottom: 20px;
}

.presentation-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 250px;
    box-sizing: content-box;
    background-color: white;
}

@media (min-width: 962px) {
    .presentation-button {
        width: 274px;
        height: 274px;
        margin-right: 10%;
        transition: box-shadow 0.5s;
        border: 1px solid white;
    }
}

@media (min-width: 482px) and (max-width: 961px) {
    .presentation-button {
        border: 0;
        width: 242px;
        height: 242px;
        margin-top: 12%;
    }
}

@media (max-width: 481px)  { 
    .presentation-button {
        border: 0;
        width: 150px;
        height: 150px;
        margin-top: 12%;
    }
}

@media (min-width: 962px) {
    .presentation-button:hover {
        box-shadow: 0 0 0 80px rgb(32, 32, 43);;
        transition: box-shadow 0.25s;
    }
}
