/* bellefair-regular - latin */
@font-face {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    src: url('./Bellefair/Bellefair-Regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./Bellefair/Bellefair-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./Bellefair/Bellefair-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./Bellefair/Bellefair-Regular.woff') format('woff'), /* Modern Browsers */
         url('./Bellefair/Bellefair-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./Bellefair/Bellefair-Regular.svg#Bellefair') format('svg'); /* Legacy iOS */
}
  
/* barlow-regular - latin */
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: url('./Barlow/Barlow-Regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./Barlow/Barlow-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./Barlow/Barlow-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./Barlow/Barlow-Regular.woff') format('woff'), /* Modern Browsers */
         url('./Barlow/Barlow-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./Barlow/Barlow-Regular.svg#Barlow') format('svg'); /* Legacy iOS */
  }
  

/* barlow-condensed-regular - latin */
@font-face {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    src: url('./Barlow_Condensed/BarlowCondensed-Regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./Barlow_Condensed/BarlowCondensed-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./Barlow_Condensed/BarlowCondensed-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./Barlow_Condensed/BarlowCondensed-Regular.woff') format('woff'), /* Modern Browsers */
         url('./Barlow_Condensed/BarlowCondensed-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./Barlow_Condensed/BarlowCondensed-Regular.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
  }
  