body {
  overflow: hidden;
  background-size: cover;
}

@media (min-width: 962px) {
  body {
      display: flex;
      flex-direction: column;
      background-image: url("../assets/destination/background-destination-desktop.jpg");
  }
}

@media (min-width: 482px) and (max-width: 961px) {
  body {
      background-image: url("../assets/destination/background-destination-tablet.jpg");
  }
}

@media (max-width: 481px)  { 
  body {
      display: flex;
      flex-direction: column;
      background-image: url("../assets/destination/background-destination-mobile.jpg");
  }
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.planet-panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.planet-panel-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.planet-img {
  width: 445px;
  height: 445px;
}

.planet-panel-article {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.planet-article {
  width: 445px;
  display: flex;
  flex-direction: column;
}

.planet-nav ul {
  display: flex;
  padding: 0;
  flex-direction: row;
}

.planet-nav ul li {
  margin-right: 35px;
}

.planet-name {
  margin-top: 36px;
  margin-bottom: 14px;
}

.planet-footer {
  margin-top: 54px;
  display: flex;
  flex-direction: row;
  border-top: 1px solid #383B4B;
  justify-content: space-between;
}

.planet-footer div {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
}
