body {
  overflow: hidden;
  background-size: cover;
}

@media (min-width: 962px) {
  body {
      display: flex;
      flex-direction: column;
      background-image: url("../assets/crew/background-crew-desktop.jpg");
  }
}

@media (min-width: 482px) and (max-width: 961px) {
  body {
    background-image: url("../assets/crew/background-crew-tablet.jpg");
  }
}

@media (max-width: 481px)  { 
  body {
      display: flex;
      flex-direction: column;
      background-image: url("../assets/crew/background-crew-mobile.jpg");
  }
}

/* crew-title */
@media (min-width: 962px) {
  .crew-title {
    margin-left: 10%;
  }
}

@media (min-width: 482px) and (max-width: 961px) {
  .crew-title {
    margin-top: 40px;  
    margin-left: 10%;
  }
}

@media (max-width: 481px) {
  .crew-title {
    margin-top: 10px;  
    display: flex;
    flex-direction: row;
    justify-content: center;  
  }
}

.crew-page-number {
  opacity: 0.25;
}

@media (max-width: 481px)  { 
  .crew-page-number {
    margin-right: 18px;
  }
}

.crew-panel-article {
  margin-left: 10%;
  margin-right: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.crew-article {
  margin-bottom: 94px;
}

.crew-name {
  margin-top: 16px;
}

.crew-paragraph-article {
  margin-top: 28px;
  max-width: 444px;
}

.nav-footer {
  display: flex;
  flex-direction: row;
  margin-top: 120px;
}

.nav-dot {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background-color: white;
  margin-right: 24px;
  opacity: 0.18;
}